
.Search {
    padding: 4px 10px;
    border-radius: 25px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search__box {
    width: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Search__box .Search__left {
    width: 100%;
}

.Search__box input {
    width: 100%;
    border-radius: 25px;
    height: 24px;
    padding-left: 4px;
    border: 0;
    outline: none;
    font-size: 14px;
}

.Search__right .icon {
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Search__right .icon .fa-search {
    color: #ccc;
}
