@media (max-width: 768px) {
    .Search__right {
        width: 24px;
        height: 24px;
    }
    
    .Search__box {
        width: 100%;
    }
    
    .Search {
        width: 100%;
        justify-content: space-between !important;
    }
}