/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BackgroundColor: #F1F0F1;
}

body {
    background-color: var(--BackgroundColor);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 48px;
    display: flex;
}

.header__brand {
    height: 48px;
    width: 60px;
}

.header__brand img {
    width: 100%;
    height: 100%;
}

.mod_header {
    width: 1200px;
    display: flex;
}

.header__left {
    display: flex;
}

.header__right {
    display: flex;
}

.header__center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
